Code/
Code\ -\ OSS/
Cursor/
Docker\ Desktop/
Electron/
FBReader.ORG\ Limited/
GIMP/
GitHub\ Desktop/
Google/
Insomnia/
JetBrains/
Kalypso\ Media/
MonoGame/
Postman/
QtProject.conf
Thunar/
VeraCrypt/
VirtualBox/
btop/
cava/
chromium/
dconf/
doomretro/
epiphany/
evolution/
figma-linux/
fish/
fyne/
ghc/
git/
gitui/
glib-2.0/
gnome-session/
go/
goa-1.0/
gopls/
gtk-3.0/
gtk-4.0/
gzdoom/
helix/
htop/
hypr_bak/
hyprpanel/
ibus/
kritadisplayrc
kritarc
lazydocker/
lgogdownloader/
libreoffice/
matplotlib/
menus/
micro/
mimeapps.list
nautilus/
neofetch/
nextjs-nodejs/
nvim/
nwg-panel/
obsidian/
onlyoffice/
pavucontrol.ini
pipewire/
pnpm/
procps/
pulse/
qBittorrent/
qdiskinfo/
retroarch/
rofi/
s-tui/
simple-scan/
simple-update-notifier/
supertuxkart/
systemd/
tigervnc/
tlpui/
torbrowser/
totem/
unity3d/
user-dirs.dirs
user-dirs.locale
vscode-sqltools/
xdg-desktop-portal/
xdg-desktop-portal-termfilechooser/
yay/
xsettingsd/
session/
remmina/
libaccounts-glib/
kdedefaults/
kdeconnect/
kde.org/
KDE/
kate/
freerdp/
cachyos/
autostart/
alacritty/
bluedevilglobalrc
cachyos-hello.json
dolphinrc
gtkrc
gtkrc-2.0
gwenviewrc
kactivitymanagerdrc
kate-externaltoolspluginrc
katerc
katevirc
krminputrc
kconf_updaterc
kded5rc
kded6rc
kdeglobals
kglobalshortcutsrc
krfsshare
konsolerc
konsolesshconfig
ksmserverrc
ktimezonedrc
kwalletrc
kwinoutputconfig.json
kwinrc
kxkbrc
libinput-gestures.conf
pavucontrol.ini
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasmanotifyrc
plasmashellrc
powermanagementprofilesrc
QIProject.conf
spectaclerc
trashrc
Trolltech.conf
user-dirs.dirs
user-dirs.locale
arkrc
baloofileinformationrc
baloofileinformationrcbluedevilglobalrc
cachyos-hello.json
baloofileinformationrc
kcminputrc
knfsshare
baloofilerc
hyprland.conf.file
hyprland.conf.save
xdg-desktop-portal-kderc
kiorc
kscreenlockerrc
ksplashrc
kwriterc
id
qquickfiledialog.conf
Qv2ray.conf
gbmxjwtditel.qv2ray.json
xroyzpiylmow.qv2ray.json
config.gen.json