Code/
Code\ -\ OSS/
Cursor/
Docker\ Desktop/
Electron/
FBReader.ORG\ Limited/
GIMP/
GitHub\ Desktop/
Google/
Insomnia/
JetBrains/
Kalypso\ Media/
MonoGame/
Postman/
QtProject.conf
Thunar/
VeraCrypt/
VirtualBox/
btop/
cava/
chromium/
dconf/
doomretro/
epiphany/
evolution/
fastfetch/
figma-linux/
fish/
fyne/
ghc/
git/
gitui/
glib-2.0/
gnome-session/
go/
goa-1.0/
gopls/
gtk-3.0/
gtk-4.0/
gzdoom/
helix/
htop/
hypr_bak/
hyprpanel/
ibus/
kritadisplayrc
kritarc
lazydocker/
lgogdownloader/
libreoffice/
matplotlib/
menus/
micro/
mimeapps.list
nautilus/
neofetch/
nextjs-nodejs/
nvim/
nwg-panel/
obsidian/
onlyoffice/
pavucontrol.ini
pipewire/
pnpm/
procps/
pulse/
qBittorrent/
qdiskinfo/
retroarch/
rofi/
s-tui/
simple-scan/
simple-update-notifier/
supertuxkart/
systemd/
tigervnc/
tlpui/
torbrowser/
totem/
unity3d/
user-dirs.dirs
user-dirs.locale
vscode-sqltools/
waypaper/
xdg-desktop-portal/
xdg-desktop-portal-termfilechooser/
yay/
